*{
    box-sizing: border-box;
}
body{
    font-family: "antenna-medium";
}
/* Top-Menu ....................................................................................*/
#menu{
    background-color:#231F20;
}
#menu-container{
    height: 44px;
    margin: 0 114px 0 25px;
}
#menu-container>ul{
    display: flex;
    font-size: 13px;
    
}
#menu-container>ul li{
    margin: 0 17px;
    padding: 15px 0;
}
#menu-container>ul li>a{
    color: white;
    text-decoration: none;
}
#menu-container>ul li>a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#search-icon-img{
    color: white;
    font-size: 16px;
}
#search-icon-img:hover{
    cursor: pointer;
}
/* Top-Nav-bar .................................................................................*/
nav{
    height: 90px;
    background-color:#d50f0e;
}
#nav-container{
    margin: 0 0 0 25px;
    display: flex;
    justify-content: space-between;
}
#nav-container>ul{
    display: flex;
}
#nav-container>ul li{
    padding: 35px 0;
    margin: 0 23px;
    height: 100%;
    /* background-color: rgb(112, 112, 168); */

}
.home{
    color: black
}
#nav-container>ul li>a{
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    color: white;
}
#nav-container>ul li>a:hover{
    cursor: pointer;
    color: black;
}
#nav-container>ul>li:first-child a{
    color: black;
}
#nav-container>ul>li:last-child a{
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 23px;
    padding: 15px 20px;
    border-radius: 25px;

}
#ndb-logo{
    animation-name: logo-annimation;
    animation-duration: 1.5S;
    /* animation-iteration-count:infinite ; */
}
@keyframes logo-annimation{
    from{
        transform: translateX(450px);

    }
    to{
        transform: translateX(0);
    }
    
}
/* img-container....................................................................................... */
#img-container>img{
    width: 100%;
    height: 450px;
}

/* Features container ...................................................................................*/
.feat-cont{
    display: flex;
    justify-content: space-evenly;
    margin: 0 300px;
}
.feat-cont>div{
    /* background-color: aqua; */
    /* border: 1px solid black; */
    width: 300px;
    margin: 30px;
    animation-name: bottom-to-top;
    animation-duration: 1.5S;
    /* animation-iteration-count:infinite ; */
}
@keyframes bottom-to-top{
    from{
        transform: translateY(250px);

    }
    to{
        transform: translateY(0);
    }
    
}
.feat-cont>div>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.feat-cont>div>a:hover{
    text-decoration: underline;
}
.feat-cont>div>a>img{
    width: 90px;
    padding: 20px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 80px;

}
.feat-cont>div:hover .img{
  scale: 1.1;  
}
.feat-cont>div>a>h4{
    padding: 0 10px;
    
}
/* social-media ..........................................................................*/
#social-media{
    position: fixed;
    top: 35%;
    z-index: 1;
}
#social-media>li{
    font-size: 30px;
    padding: 5px;
    width: 45px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    box-shadow: 10px 10px 10px rgba(0.2, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#social-media>li:hover{
    width: 60px;
}
#social-media>li:hover .scale-up{
    margin-left: 10px;
}
#fb-icon{
    color: #39579A;
}
#in-icon{
    color: #007BB6;
}
#insta-icon{
    color:  #A728A8;
}
#youtube-icon{
    color: #E92A1D;
}
#twiter-icon{
    color:  #1DA8E2;
}
/* floating-menu ..........................................................................*/
#floating-menu{
    position: fixed;
    top: 35%;
    right: 0;
    background-color: #ffffff;
    box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

#floating-menu>ul>li{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgrey;
    padding: 10px;
    position: relative;
}
#floating-menu>ul>li:last-child{
    border-bottom: 1px solid lightgray;
}
#floating-menu>ul>li:first-child:hover .slider{
    left: -343px;

}
#floating-menu>ul>li:nth-child(2):hover .slider{
    left: -235px;

}
#floating-menu>ul>li:nth-child(3):hover .slider{
    left: -512px;

}
#floating-menu>ul>li:last-child:hover .slider{
    left: -343px;
}
.slider{
    background-color: #ffffff;
    position: absolute;
    left: 110%;
    top: 0;
    transition-property: left;
    transition-duration: 500ms;
    /* background-color: #1DA8E2; */
    z-index: -1;
    box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.2);
}
.slider>div{
    display: flex;
    padding: 10px 0;
    
}
.slider>div:first-child{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px;
    color: rgb(155, 155, 155);
}
.slider>div:last-child>div{
    width: 130px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 0 20px;
    color: white;
}
.slider>div:last-child>div:hover{
    background-color: #da0f01;
}
.slider>div:last-child>div>a{
    text-decoration: none;
    color: white;
}
/* navigation................................................................. */
#navigation{
    display: flex;

}
#navigation>div>img{
    width: 952px;
    height: 500px;
}
.img-container{
    position: relative;
    /* z-index: -1; */
}
.img-container>div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container>div:hover{
    box-shadow: inset 0 -100px 70px 100px rgba(0, 0, 0, 0.6);

}
.img-container>div>div:first-child{
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
    line-height: 30px;
}
.img-container>div>div:nth-child(2){
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    line-height: 25px;
}
.img-container>div>div:last-child{
    font-size: 15px;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 20px;
}
.img-container>div>div:last-child>a{
    text-decoration: none;
    color: white;
}
.img-container>div>div:last-child>a:hover{
    color: black;
}
.img-container>div>div:last-child:hover{
    background-color: white;
    padding: 10px 35px;
}
/* location................................................................ */
#location-bar{
    display: flex;

}
#location-container{
    height: 240px;
    width: 40vw;

    background-color:#671C1A;
}
#location-container>div{
    width: 400px;
    height: 240px;
    padding: 40px 40px 40px 0;
    /* background-color: #1DA8E2; */
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
#topic{
    font-size: 28px;
    padding-bottom: 20px;
    font-weight:700;
}
#details{
    font-size: 18px;
    line-height: 20px;
    
}
#search-container{
    width: 60vw;
    height: 240px;
    background-color: #D8232A;
}


